*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}
:root{
    --orange:#e84949;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left .name{
    align-items: center;
    display: flex;
    font-size: 25px;
}
.nav-left .name-head{
    margin-right: -8px;
    font-size: 90px;
    font-weight: 300;
}
.nav-right{
    padding: 0 4rem;
    display: flex;
    gap: 2rem;
    font-weight: 300;
    font-size: 20px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.hero-sec{
    display: flex;
    padding: 2em 0;
    justify-content: space-between;
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.head-1{
    color: #343d68;
    font-size: 35px;
}
.mv-text{
    color: #4e45d5;
    font-size: 45px;
}
.dec{
    width: 70%;
    font-size: 20px;
    font-weight: 300;
}
.btn-orng{
    a{
        color: aliceblue;
        text-decoration: none;
    }
    position: relative;
    padding: 12.8px 36.8px;
    box-shadow: 0px 0px 6px black;
    width: fit-content;
    color: white;
    background-color:var(--orange) ;
    z-index: 1;
    transition: 0.4s;
    cursor: pointer;
}
.btn-orng::before{
    position: absolute;
    content: "";
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: left;
    transition: .4s;
}
.btn-orng:hover::before{
    transform: scaleX(1);
}
.btn-orng:hover{
    color: black;
    a{
        color: black;
    }
}
.hire-me::before{
    margin: 2px;
}
.hero-left{
    width: 50%;
}
.hero-right{
    position: relative;
    display: flex;
    justify-content: right;
    width: 30%;
}
.user-img{
    padding: 2rem;
    object-fit: cover;
    width:100% ;
    animation:user 4s ease-in-out 0s infinite alternate-reverse;
}
@keyframes user {
    0%{
        box-shadow: 0px 0px 9px black;
        transform: scale(1);
        filter: grayscale(100%);
    }
    100%{
        transform: scale(1.08);
        filter: grayscale(0%);
    }
}
.absolute{
    position: absolute;
}
.dot{
    animation:dot 6s ease-out 0s infinite alternate-reverse;
}
@keyframes dot {
    0%{
        right: 0;
        bottom:0;
    }
    50%{
        right: 2%;
        bottom:6%;
    }
    100%{
        right: -3%;
        bottom:0;
    }
}
.plus{
    animation:plus 7s ease-out 0s infinite;
}
@keyframes plus {
    0%{
        top: 0;
        right: 40%;
    }
    50%{
        top: 6%;
        right: 42%;
    }
    100%{
        top: 0;
        right: 40%;
    }
}
.cube{
    animation:cube 3.9s ease 0s infinite;
}
@keyframes cube {
    0%{
        top: 0;
        right: 0;
    }
    50%{
        top: 4%;
        right: 0;
        transform: rotateY(180deg);
    }
    100%{
        top: 0;
        right: 0;
    }    
}
.circle{
    animation:circle 10s ease-out 0s infinite;
}
@keyframes circle {
    0%{
        left: 0;
        bottom:0;
    }
    50%{
        left: 4%;
        bottom:8%;
    }
    100%{
        left: 0;
        bottom:0;
    }        
}
.zig-zag{
    animation:zig-zag 3s linear 0s infinite;
}
@keyframes zig-zag {
    0%{
        top: 0;
        left: 0;
    }
    50%{
        top: 2%;
        left: -3%;
    }
    100%{
        top: 0;
        left: 0;
    }        
}
#project{
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
}
.project-body{
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 1200px;
    padding: 3rem 0;
    margin: 0 auto;
    position: relative;
}
.project-head{
    text-align: center;
    color: var(--orange);
    font-size: 90px;
}
.card{
    position: relative;
    width: 90%;
    height: 550px;
    border: 3px solid black;
    background-size: cover;
    z-index: 0;
    box-shadow: rgb(31, 31, 31) 0px 0px 40px;
}
.card::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, rgb(52, 61, 104), rgba(52, 61, 104, 0.745), rgba(52, 61, 104, 0.486));
    z-index: -1;
    transform: scaleX(0);
    transform-origin:left ;
    transition: all 0.4s ease 0s;
}
.card:hover::before{
    transform: scaleX(1);
}
.card::after{
    content: "";
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: scaleX(1);
    background: rgba(31, 31, 31, 0.604);
}
.card-1{
    left: 0;
    background-image: url(./images/projects/Project1.png);
}
.card-2{
    left: 10%;
    background-image: url(./images/projects/Project2.png);
}
.card-3{
    left: 0;
    background-image: url(./images/projects/Project3.png);
}
.card-4{
    left: 10%;
    background-image: url(./images/projects/Project4.png);
}
.head{
    position: absolute;
    color: white;
    font-size:200px ;
    transform: scale(0);
}
.card:hover{
    .head{
        transition-delay:0.4s ;
        transform: scale(1);
    }
}
.card-head-r{
    right: -40px;
    top: -45px;
}
.card-head-l{
    left: -40px;
    top: -45px;
}
.card-link{
    display: flex;
    align-items: center;
    img{
        padding-top: 5px;
        margin: 0 10px;
        /* transform: scale(1.1); */
        object-fit: cover;
        filter: invert(100%);
        width: 70%;
        transition: 0.4s;
        transition-timing-function: ease;
    }
}
.card-head{
    font-size: 50px;
    font-weight: 500;
}

.card-content{
    display: flex;
    gap: 1em;
    flex-direction: column;
    color: white;
    position: absolute;
    bottom:20%;
    transition: .4s;
    padding: 2em;
    width:70%;
}
.card-left{
    left: 10%;
}
.card-right{
    right:0%
}
.card-link img:hover{
    filter: invert(32%) sepia(27%) saturate(1198%) hue-rotate(313deg) brightness(132%) contrast(119%);
}
.card-desc{
    width: 70%;
}
.card-images{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
    row-gap: 5px;
    img{
        width: 80%;
        object-fit: cover;
    }
}
.card:hover .card-content{
    transform: scale(1.09);
}
